[submodule "v2exmobile/Classes/3rd-party/Objective-C-HMTL-Parser-iOS5"]
	path = v2exmobile/Classes/3rd-party/Objective-C-HMTL-Parser-iOS5
	url = git@github.com:tuoxie007/Objective-C-HMTL-Parser-iOS5.git
[submodule "v2exmobile/Classes/3rd-party/JBJson"]
	path = v2exmobile/Classes/3rd-party/JBJson
	url = https://github.com/stig/json-framework.git
[submodule "dependence/DTCoreText"]
	path = dependence/DTCoreText
	url = https://github.com/Cocoanetics/DTCoreText.git
