<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>PreferenceSpecifiers</key>
	<array>
		<dict>
			<key>Key</key>
			<string>username</string>
			<key>Title</key>
			<string>用户名</string>
			<key>Type</key>
			<string>PSReadonlyTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>email</string>
			<key>KeyboardType</key>
			<string>EmailAddress</string>
			<key>Title</key>
			<string>电子邮件</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>website</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>个人网站</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>location</string>
			<key>Title</key>
			<string>所在地</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>tagline</string>
			<key>Title</key>
			<string>签名</string>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>显示余额</string>
			<key>Key</key>
			<string>list_rich</string>
		</dict>
		<dict>
			<key>Key</key>
			<string>current_rich</string>
			<key>KeyboardType</key>
			<string>NumberPad</string>
			<key>Title</key>
			<string>当前余额</string>
			<key>Type</key>
			<string>PSReadonlyTextFieldSpecifier</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>显示首页顶部</string>
			<key>Key</key>
			<string>show_home_top</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSToggleSwitchSpecifier</string>
			<key>Title</key>
			<string>显示首页节点导航</string>
			<key>Key</key>
			<string>show_home_categories</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>twitter</string>
			<key>Key</key>
			<string>twitter</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>PSN ID</string>
			<key>Key</key>
			<string>psn</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>BTC Address</string>
			<key>Key</key>
			<string>btc</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>Title</key>
			<string>GitHub Username</string>
			<key>Key</key>
			<string>github</string>
		</dict>
		<dict>
			<key>Type</key>
			<string>PSTextFieldSpecifier</string>
			<key>KeyboardType</key>
			<string>URL</string>
			<key>Title</key>
			<string>首页跳转</string>
			<key>Key</key>
			<string>my_home</string>
		</dict>
	</array>
	<key>StringsTable</key>
	<string>Root</string>
</dict>
</plist>
